
<% provide(:title, "About") %>

<h1>All the coals I collected from Santa, I put them in a bag and traveled to the North Pole.  Then I set the bag on fire and threw it into Santa's workshop and ruined Christmas for all.</h1>
