
<% provide(:title, "Help") %>


    <h1>LTLT: <strong>L</strong>oo<strong>T</strong> for your <strong>L</strong>oo<strong>T</strong></h1>
    <p>
      This is the help page but there is none becaue this is not Heaven.  It will eventually have a support contact phone number and support email address and a link to FAQ.
    </p>
