<% provide(:title, "Home") %>

    <h1>LTLT: <strong>L</strong>oo<strong>T</strong> for your <strong>L</strong>oo<strong>T</strong></h1>
    <p>
      This is the home page, it will eventually have a sign form, create new user form, navigation on the left to navigate for info
    </p>
