<% provide(:title, "Home") %>
    <div class="center jumbotron">
      <h2 class="company_name"> <strong>LTLT: Loot for your Loot</strong></h2>

      <p> You buy the home. You keep the commission.

      <div class="action">
        <ul>
          <li>keep the buyer's commission, usually 3%</li>
          <li>minimize or avoid PMI</li>
          <li>maximize buyer protection</li>
          <li>contract review by an experienced realtor</li>
          <li>free until we hire a real web designer</li>
        </ul>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </p>
      </div>


    </div>
