

<h3> Now what? </h3>
<p> If you have opted for <strong>Second Review</strong> then your contract will be reviewed by an experience realtor and while you are not required to listen to the realtor's feedback, feel free to ask the realtor any follow up questions.  Our agents are incentivized only when your contract is maximized for your gain.  If they feel your offer is too high or you are not protected, they will tell you why and should you agree, they will modifiy the contract with their recommendations<p>

<h1> Once you get an email confirmation, confirm final authorization</h1>

<p> This is the final step to complete your electronic signature authorization and secures your permission.  Once you complete this last step, you should expect feedback within 3 days and if not, contact us below. </p>

<ul>
  <li>support: support@ltlt.com</li>
  <li>Contact Number:202-333-4444</li>
</ul>

<%= link_to "return to bids", current_user, class: "btn btn-lg btn-primary" %>
